body {
    padding-top: 5rem;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea {
    border-radius: 5px;
    border: 2px solid #e9e9ea;
}

textarea {
    resize: none;
    width: 400px;
    height: 150px;
}

#submit {
    width: 100px;
    padding: 10px;
    background-color: #2987cd;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 30px;
}